body {
    font-size: 1.8rem;
    color: #222222;
}

a {
  outline: none;
  text-decoration: none;
  color: #222222;
}

p {
    line-height: 1.5;
}

li {
    list-style: none;
    line-height: 1.5;
}

.aside__menu {
    background-color: #f0f0f0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.aside__group {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 961px) {
  .page {
    display: flex; 
  }
  
  .aside__menu {
    font-size: 1.5rem;
  }
  
  .aside {
    width: 320px;
    margin-right: 40px;
    flex: none;
  }
  
  .content {
    flex-grow: 1;
    order: 1;
  }
}
  
@media (max-width: 960px) {
  .aside__menu {
    display: none;
  }
}
