body {
  font-family: 'Roboto Condensed', sans-serif;
}

.aside__menu {
    background-color: #f0f0f0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 961px) {
  .page {
    display: flex;
  }
  
  .aside {
    width: 320px;
    margin-right: 40px;
    flex: none;
  }
  
  .content {
    flex-grow: 1;
    order: 1;
  }
}
  
@media (max-width: 960px) {
  .aside__menu {
    display: none;
  }
}
